<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       default-init-method="init" default-destroy-method="destroy"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dateTimeConverter" class="pl.kostrowski.mtga.service.StringToLocalDateTimeConverter"/>
    <bean id="dateConverter" class="pl.kostrowski.mtga.service.StringToLocalDateConverter"/>

    <bean id="nowaStacja" class="pl.kostrowski.mtga.model.Project">
        <property name="name" value="Nowa Stacja"></property>
        <property name="type" value="Centrum Handlowe"></property>
        <property name="branch">
            <ref bean="branchWarsaw"/>
        </property>
        <property name="customer">
            <ref bean="karmar"/>
        </property>
        <property name="salesman">
            <ref bean="janusz"/>
        </property>
        <property name="tasks">
            <list>
                <ref bean="KL3"/>
                <ref bean="KL3LM"/>
                <ref bean="S5aStr"/>
                <ref bean="S5aStrLi"/>
            </list>
        </property>

    </bean>

    <!--<bean id="taksList" class="java.util.ArrayList">-->
    <!--<constructor-arg>-->
    <!--<list>-->
    <!--<ref bean="KL3"/>-->
    <!--<ref bean="KL3LM"/>-->
    <!--<ref bean="S5aStr"/>-->
    <!--<ref bean="S5aStrLi"/>-->
    <!--</list>-->
    <!--</constructor-arg>-->
    <!--</bean>-->


    <bean id="branchWarsaw" class="pl.kostrowski.mtga.model.Branch">
        <property name="id" value="286"></property>
        <property name="name" value="Warszawa"></property>
    </bean>
    <bean id="branchGdańsk" class="pl.kostrowski.mtga.model.Branch">
        <property name="id" value="299"></property>
        <property name="name" value="Gdańsk"></property>
    </bean>

    <bean id="karmar" class="pl.kostrowski.mtga.model.Customer">
        <property name="name" value="Karmar"></property>
    </bean>

    <bean id="janusz" class="pl.kostrowski.mtga.model.User">
        <property name="name" value="janusz"></property>
        <property name="surname" value="g"></property>
        <property name="role" value="Handlowiec"></property>
    </bean>

    <bean id="krzysiek" class="pl.kostrowski.mtga.model.User">
        <property name="name" value="Krzysztof"></property>
        <property name="surname" value="O"></property>
        <property name="role" value="Technik"></property>
    </bean>

    <bean id="KL3" class="pl.kostrowski.mtga.model.Task">

        <property name="requestedOn" value="#{dateTimeConverter.convert('2017-11-30T12:16:31')}"></property>
        <property name="mustBeMadeBefore" value="#{dateConverter.convert('2017-12-31')}"></property>
        <property name="structureElement" value="Ściany"></property>
        <property name="workType" value="Rysunek"></property>
        <property name="workDescription" value="Szacht KL3"></property>
        <property name="Status" value="In review"></property>
        <property name="project">
            <ref bean="nowaStacja"/>
        </property>
        <property name="orderedBy">
            <ref bean="janusz"/>
        </property>
        <property name="executedBy">
            <ref bean="krzysiek"/>
        </property>
    </bean>

    <bean id="KL3LM" class="pl.kostrowski.mtga.model.Task">

        <property name="requestedOn" value="#{dateTimeConverter.convert('2017-11-30T12:17:31')}"></property>
        <property name="mustBeMadeBefore" value="#{dateConverter.convert('2017-12-31')}"></property>
        <property name="structureElement" value="Ściany"></property>
        <property name="workType" value="Lista materiałowa"></property>
        <property name="workDescription" value="Szacht KL3"></property>
        <property name="Status" value="In review"></property>
        <property name="project">
            <ref bean="nowaStacja"/>
        </property>
        <property name="orderedBy">
            <ref bean="janusz"/>
        </property>
        <property name="executedBy">
            <ref bean="krzysiek"/>
        </property>
    </bean>


    <bean id="S5aStr" class="pl.kostrowski.mtga.model.Task">
        <property name="requestedOn" value="#{dateTimeConverter.convert('2017-12-01T11:17:31')}"></property>
        <property name="mustBeMadeBefore" value="#{dateConverter.convert('2017-12-31')}"></property>
        <property name="structureElement" value="Strop"></property>
        <property name="workType" value="Rysunek"></property>
        <property name="workDescription" value="Sekcja 5A"></property>
        <property name="Status" value="Waiting"></property>
        <property name="project">
            <ref bean="nowaStacja"/>
        </property>
        <property name="orderedBy">
            <ref bean="janusz"/>
        </property>
        <property name="executedBy">
            <ref bean="krzysiek"/>
        </property>
    </bean>

    <bean id="S5aStrLi" class="pl.kostrowski.mtga.model.Task">
        <property name="requestedOn" value="#{dateTimeConverter.convert('2017-12-01T11:18:31')}"></property>
        <property name="mustBeMadeBefore" value="#{dateConverter.convert('2017-12-31')}"></property>
        <property name="structureElement" value="Strop"></property>
        <property name="workType" value="Lista materiałowa"></property>
        <property name="workDescription" value="Sekcja 5A"></property>
        <property name="Status" value="Waiting"></property>
        <property name="project">
            <ref bean="nowaStacja"/>
        </property>
        <property name="orderedBy">
            <ref bean="janusz"/>
        </property>
        <property name="executedBy">
            <ref bean="krzysiek"/>
        </property>
    </bean>


</beans>
